<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youverse | <%= title %></title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body>
  <nav>
    <h1>Youverse</h1>
    <a href="/"><button>Home</button></a>
    <a href="/profile"><button>Profile</button></a>
    <a href=""><button>Log Out</button></a>
  </nav>
  <br>